<main>
  <header class="truefi">
    <div [routerLink]="['/']" class="logo">
      <h1>TrueFi</h1>
    </div>
    <nav class="navbar">
      <ul class="navbar-list">
        <li class="navbar-list-item">
          <div [routerLink]="['/test']">
            <h2>What</h2>
          </div>
        </li>
        <li class="navbar-list-item">
          <div [routerLink]="['/test']">
            <h2>Do</h2>
          </div>
        </li>
        <li class="navbar-list-item">
          <div [routerLink]="['/test']">
            <h2>I</h2>
          </div>
        </li>
        <li class="navbar-list-item">
          <div [routerLink]="['/test']">
            <h2>Put</h2>
          </div>
        </li>
        <li class="navbar-list-item">
          <div [routerLink]="['/test']">
            <h2>Here?</h2>
          </div>
        </li>
      </ul>
    </nav>
  </header>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>